.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.775),
      rgba(0, 0, 0, 0.651)
    ),
    url("../images/backgroundimage.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
  color: white;
}

/* Css de prop.login*/

.contenedorLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloLogin {
  margin-top: 10px;
  font-size: 60px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #67ff20;
}

.loginButton button {
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background: #182907;
  padding: 10px;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  border: none;
}

/*Css de props.Registro*/

.tituloRegistro {
  margin-top: 10px;
  font-size: 50px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.subtituloRegistro {
  font-size: 20px;
}

.contenedorRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  height: 800px;
  width: 500px;
}

.registro {
  padding: 12px;
  margin-top: 100px;
  text-align: center;
  background: none;
  box-shadow: none;
  outline: none;
}

.inputRegistro {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 30px;
  font-size: 20px;
  color: blanchedalmond;
  background: rgba(0, 0, 0, 0.752);
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
}

.inputRegistro:focus {
  color: rgb(80, 80, 0);
  background-color: rgba(255, 235, 205, 0.864);
  box-shadow: none;
  outline: none;
}

.inputRegistro::placeholder {
  color: white;
}

.botonRegistro {
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background: #182907;
  padding: 10px;
  color: white;
  box-shadow: 0 0 30px rgba(80, 80, 0, 0.568);
  border: none;
}

.botonShow {
  cursor: pointer;
  margin-top: 0px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background: #182907;
  padding: 10px;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  border: none;
}

.inputRegistro[type="number"]::-webkit-inner-spin-button,
.inputRegistro[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*Css de props asistencia */

.imgModulo1 {
  height: 75px;
  width: 75px;
  margin-left: 120px;
}

.imgModulo2 {
  height: 75px;
  width: 75px;
  margin-left: 120px;
}

.contenedorAsistencia {
  background: rgba(38, 81, 1, 0.818);
  box-shadow: 0 0 30px rgb(0, 0, 0);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloAsistencia {
  margin-bottom: 60px;
  font-size: 50px;
}

.contenedorModulosAsistencia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.subtituloAsistencia {
  font-size: 30px;
  margin-bottom: 30px;
  color: #67ff20;
}

.parrafoAsistencia {
  font-size: 25px;
  color: blanchedalmond;
  font-weight: normal;
}

.modulo1Asistencia {
  padding-left: 20px;
  margin-right: 12px;
}

.contenedorModulo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.descripcionModulo1 {
  width: 500px;
}

.modulo2Asistencia {
  margin-left: 50px;
}

.contenedorModulo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.descripcionModulo2 {
  width: 500px;
}

.anclaAsistencia {
  font-size: 25px;
  font-weight: normal;
  margin: 7px;
  text-decoration-line: underline;
}

.anclaAsistencia:hover {
  color: #67ff20;
  transition-duration: 0.3s;
}

/*Css de datosUsuario*/

.contenedorMisDatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(31, 77, 14, 0.612);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  border-radius: 12px;
}

.tituloMisDatos {
  margin-bottom: 20px;
  font-size: 50px;
}

.datosUsuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 50px;
  padding-bottom: 30px;
  margin-top: 0px;
}

.imgFotoUsuario {
  height: 150px;
  width: 150px;
}

.informacionTextualUsuario {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  align-items: start;
  margin-left: 30px;
}

.fotoUsuario {
  height: 450px;
}

.inputDatosUsuario {
  width: 360px;
  height: 30px;
  font-size: 20px;
  color: blanchedalmond;
  background: rgba(0, 0, 0, 0.752);
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
}

.inputDatosUsuario:focus {
  color: rgb(80, 80, 0);
  background-color: rgba(255, 235, 205, 0.864);
  box-shadow: none;
  outline: none;
}

.labelDatosUsuario {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*Css moduloOperacion*/

.contenedorMisdatos {
  border-style: solid;
}

.subContenedorOperacion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  border-radius: 12px;
  height: 750px;
  margin-bottom: 0px;
}

.tituloOperacion {
  margin-top: 250px;
  font-size: 36px;
  color: rgb(80, 80, 0);
}

.contenedorDobleModulo {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.botonDobleModulo {
  text-align: center;
  margin-right: 5px;
  font-size: 35px;
  width: 500px;
}

.botonDobleModulo:hover {
  background-color: black;
  color: rgb(80, 80, 0);
  transition-duration: 0.5s;
  border-radius: 12px;
}
/* Css de Consultas */

.contenedorConsulta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(32, 53, 24, 0.916);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  border-radius: 12px;
}

li {
  list-style: none;
}

.contenedorTiempoLugar {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.contenedorTiempoSalida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 300px;
}

.contenedorTiempoTranscurrido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorTiempoLLegada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.contenedorInformacionGeneral {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 30px;
}

.informacionVuelo {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
}

.informacionVuelo li {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  margin-top: 15px;
  padding: 7;
}

.informacionVuelo h3 {
  font-size: 22px;
  color: #67ff20;
  margin-bottom: 20px;
}

.informacionAvion {
  display: flex;
  flex-direction: row;

  margin-bottom: 60px;
}

.informacionTripulacion {
  display: flex;
  flex-direction: column;

  margin-bottom: 70px;
}

.informacionCarga {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacionCarga h4 {
  font-size: 25px;
  color: #67ff20;
  margin-bottom: 20px;
}

.contenedorMaterialesAbordo p {
  color: blanchedalmond;
}

.contenedoresMaterialesAbordo {
  text-align: justify;
}

